/* 
  Parfait - findbar.css
  https://github.com/reizumii/parfait
*/

/* findbar */
.browserContainer > findbar {
  position: absolute;
  top: 16px;
  right: 16px;
  width: var(--pf-findbar-width);
  padding-block: 0 !important;
  background-color: var(--pf-panel-bgcolor) !important;
  border: 1px solid var(--pf-border-color) !important;
  border-radius: var(--pf-border-radius);
  box-shadow: var(--pf-shadow-medium) !important;
  transition: top var(--pf-ts-25) !important;
  visibility: visible !important;
  
  &[hidden] {
    display: flex !important;
    top: -100px;
  }
  @media -moz-pref("parfait.blur.enabled") {
    backdrop-filter: var(--pf-acrylic-filter);
    --pf-panel-bgcolor: var(--pf-panel-bgcolor-transparent);
  }
  & .findbar-container {
    flex-wrap: wrap;
    margin-left: 0 !important;
    min-height: 40px;
    height: 100% !important;
  }
  & .findbar-closebutton {
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0 !important;
    min-width: 24px;
    min-height: 24px;
  }
  & hbox[anonid="findbar-textbox-wrapper"] {
    width: var(--pf-findbar-width) !important;
    min-height: 40px;
    padding: 8px;
    border-bottom: 1px solid var(--pf-border-color);
    gap: 4px;
    
    & .findbar-textbox {
      width: calc((var(--pf-findbar-width) - (16px * 2)) - (24px * 3)) !important;
      background: none !important;
      border: 0 !important;
      box-shadow: none !important;
      outline: none !important;
    }
    & .findbar-find-previous,
    & .findbar-find-next {
      width: 24px;
      height: 24px;
      margin: 0 !important;
    }
  }
  & checkbox {
    margin: 8px 3px !important;
    
    &:hover .checkbox-label-box {
      background-color: var(--pf-toolbar-bgcolor-hover);
    }
    & .checkbox-label-box {
      border-radius: var(--pf-border-radius-xsmall);
    }
    &[checked] .checkbox-label-box {
      background-color: var(--pf-toolbar-bgcolor-active);
    }
    & .checkbox-icon {
      width: 24px;
      height: 24px;
      margin: 0 !important;
      padding: 4px;
      display: block !important;
      fill: var(--pf-text-color);
      -moz-context-properties: fill;
      
      .findbar-highlight & {
        content: var(--pf-icon-search-highlight);
      }
      .findbar-case-sensitive  & {
        content: var(--pf-icon-search-matchcase);
      }
      .findbar-match-diacritics & {
        content: var(--pf-icon-search-matchdiacritics);
      }
      .findbar-entire-word & {
        content: var(--pf-icon-search-matchwholeword);
      }
    }
    &.findbar-highlight {
      margin-left: 8px !important;
    }
  }
  & .checkbox-check,
  & .checkbox-label,
  & .findbar-find-status[data-l10n-id="findbar-wrapped-to-top"] {
    display: none;
  }
}