/*
  Parfait - sidebar.css
  https://github.com/reizumii/parfait
*/

/* top bar */
@media -moz-pref("sidebar.verticalTabs") {
  #tabbrowser-tabbox, #sidebar-box, #sidebar-splitter {
    transition-delay: var(--pf-navbar-delay) !important;
  }
  /* check sidebar state */
  :root:not([chromehidden~="toolbar"], [taskbartab]) {
    &:has(#tabbrowser-tabs:not([expanded])) {
      @media not -moz-pref("sidebar.visibility", "hide-sidebar") {
        --pf-navbar-margin: 0;
        --pf-navbar-delay: 0s;
        --pf-bookmarks-margin: calc((var(--pf-tab-height) + (var(--pf-separation) * 2)) + (var(--pf-separation) *  var(--pf-bookmarks-sm)));
      }
      @media -moz-pref("parfait.toolbar.unified-sidebar") and -moz-pref("sidebar.visibility", "hide-sidebar") {
        #tabbrowser-tabpanels {
          margin-top: var(--pf-navbar-margin-reverse);
        }
      }
    }
    @media -moz-pref("sidebar.visibility", "expand-on-hover") {
      --pf-navbar-margin: 0;
    }
    @media (not (-moz-platform: macos)) and (not -moz-pref("parfait.traffic-lights.enabled")) {
      &:has(.titlebar-buttonbox-container:hover) {
        --pf-navbar-margin: 0;

        #tabbrowser-tabbox, #sidebar-box, #sidebar-splitter {
          --pf-navbar-margin-reverse: calc(var(--pf-browser-separation) - var(--pf-navbar-height)) !important;
        }
      }
    }
    &:has(#nav-bar toolbarbutton[open]:not(#urlbar-searchmode-switcher), #nav-bar:hover,
    #downloads-button[notification]:not([hidden])) :where(#tabbrowser-tabbox, #sidebar-box, #sidebar-splitter) {
      margin-top: 0 !important;
      --pf-navbar-delay: 0s;
      --pf-navbar-margin-reverse: calc(var(--pf-browser-separation) - var(--pf-navbar-height));
    }
    /* auto hide navbar */
    @media -moz-pref("parfait.toolbar.unified-sidebar") {
      &:not([inDOMFullscreen]):has(:is(.titlebar-buttonbox-container, #urlbar, #sidebar-button, #back-button, #forward-button,
        #stop-reload-button, #vertical-spacer):hover) :is(#tabbrowser-tabbox, #sidebar-box, #sidebar-splitter),
      &:not([inDOMFullscreen]) :is(#tabbrowser-tabbox, #sidebar-box, #sidebar-splitter) {
        margin-top: var(--pf-navbar-margin) !important;
        transition: margin-top var(--pf-ts-25);
        --pf-navbar-margin-reverse: 0;
      }
    }
    #tabbrowser-tabpanels {
      transition: margin-top var(--pf-ts-25) var(--pf-navbar-delay);
    }
    &:has(#tabbrowser-tabs[expanded]) {
      /* seamless top bar */
      @media -moz-pref("parfait.toolbar.unified-sidebar") and (not -moz-pref("sidebar.visibility", "expand-on-hover")) {
        #tabbrowser-tabpanels {
          margin-top: var(--pf-navbar-margin-reverse);
        }
        /* sidebar button gutter */
        @media -moz-pref("parfait.toolbar.sidebar-gutter") {
          --pf-sidebar-btn-margin: calc(var(--pf-sidebar-gutter) - var(--pf-separation));

          @media -moz-pref("parfait.traffic-lights.enabled") or (-moz-platform: macos) {
            --pf-sidebar-btn-margin: var(--pf-sidebar-gutter);
          }
          &[macOSNativeFullscreen] {
            --pf-sidebar-btn-margin: calc(var(--pf-sidebar-gutter) - var(--pf-separation));
          }
        }
      }
    }
    @media -moz-pref("sidebar.visibility", "expand-on-hover") {
      --pf-sidebar-gutter: 0px;
    }
    &:not([customizing]) #nav-bar-customization-target > #sidebar-button:first-child {
      margin-inline-end: var(--pf-sidebar-btn-margin, 0px) !important;
      transition: margin-inline-end var(--pf-ts-25);
    }
  }
  /* main sidebar */
  @media -moz-pref("parfait.toolbar.unified-sidebar") {
    #sidebar-main {
      &:has(#tabbrowser-tabs[expanded]) {
        width: var(--pf-sidebar-width) !important;
        transition: width var(--pf-ts-25), transform var(--pf-ts-25) !important;

        #vertical-tabs {
          width: var(--pf-sidebar-width);
          -moz-window-dragging: drag;
        }
        @media not -moz-pref("sidebar.visibility", "expand-on-hover") { margin-top: var(--pf-sidebar-margin); }
      }
    }
    .wrapper { width: 100% !important; }
    #sidebar-launcher-splitter { display: none !important; }
  }
  #tabbrowser-tabs[orient="vertical"] { grid-gap: var(--tab-block-margin) !important; }

  /* sidebar 2 */
  #sidebar-box,
  #sidebar-splitter {
    padding-block-end: var(--pf-browser-separation) !important;
    -moz-window-dragging: no-drag;
    --browser-area-z-index-sidebar: 2;

    @media -moz-pref("parfait.toolbar.unified-toolbar") {
      margin-top: calc(var(--pf-browser-separation) - var(--pf-navbar-height)) !important;
      transition: margin-top var(--pf-ts-25);
    }
    @media -moz-pref("parfait.window.borderless") {
      --pf-browser-separation: 0px;
      --pf-browser-radius: 0;
      --space-medium: 4px;
      --content-area-shadow: none;
    }
  }
  #sidebar {
    --border-radius-medium: var(--pf-browser-radius) !important;
  }
  #sidebar-splitter {
    width: var(--pf-browser-separation) !important;
    margin-bottom: var(--pf-browser-separation) !important;
    transition: var(--pf-ts-25) !important;
  }
}

/* customize sidebar */
@-moz-document url("chrome://browser/content/sidebar/sidebar-customize.html") {
  .extensions,
  #inputs[part="inputs"] {
    padding-inline: 0 !important;
    --sidebar-box-background: var(--pf-toolbar-bgcolor);
    --sidebar-box-border: none;
    --panel-separator-color: light-dark(white, black);
  }
  .customize-extensions-heading,
  legend[part="label"] {
    font-size: var(--pf-font-size-1);
    margin-bottom: 4px;
  }
  .extension-item,
  moz-checkbox {
    padding-inline: var(--space-medium);
  }
  .label-wrapper > #label {
    display: flex !important;
  }
  .text-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;

    & > .text {
      margin-inline-end: auto;
    }
    & > .icon[src^="chrome://"] {
      fill: var(--pf-icon-color) !important;
    }
  }
  .text-link, a, ::part(support-link) {
    text-decoration: none !important;
  }
  /* remove right sidebar option */
  [data-l10n-id="sidebar-show-on-the-right"] {
    display: none !important;
  }
}

/* splitters */
#vertical-pinned-tabs-splitter,
#sidebar-tools-and-extensions-splitter {
  width: 20px;
  margin-inline: auto !important;
  margin-block-end: -2px;
  background-color: transparent !important;
  border-color: transparent !important;
  transition: var(--pf-ts-25);

  &:hover {
    width: 50%;
    background-color: color-mix(in srgb, var(--pf-accent-color), transparent) !important;
  }
}

/* bottom strip */
.tools-and-extensions.actions-list.overflow-button {
  display: none !important;
}
.buttons-wrapper {
  min-height: 0 !important;
}
@media -moz-pref("sidebar.verticalTabs") {
  .tools-and-extensions {
    width: 100%;
    justify-content: space-between !important;
    box-sizing: border-box;
    padding-inline: var(--pf-browser-separation) !important;
    padding-block-end: var(--pf-browser-separation) !important;
  }
}
moz-button:not([type~="ghost"]):not(:hover) {
  --toolbarbutton-active-background: var(--pf-toolbar-bgcolor-hover);
}
.button-background {
  --button-border-radius: var(--pf-border-radius-sm);
}
/* sidebar buttons animation */
.button-background[type="icon ghost"] > img {
  transition: var(--pf-ts-50);
  transition-timing-function: var(--pf-fx-bounce);

  .button-background:active & {
    fill: var(--pf-icon-color-active) !important;
    scale: 0.9;
  }
}
.button-background:hover > img[src="chrome://global/skin/icons/settings.svg"] {
  transform: rotate(45deg);
}
img[src="chrome://browser/skin/synced-tabs.svg"] {
  content: var(--pf-icon-devices);
}
img[src="chrome://browser/skin/sidebar-collapsed.svg"] {
  content: var(--pf-icon-sidebar);
}
button {
  --button-outer-padding-inline: 0;
  --button-outer-padding-block: 0;
  --button-outer-padding-block-start: 0;
  --button-outer-padding-block-end: 0;
}
/* bottom strip: icon alignment */
moz-button[view="viewCustomizeSidebar"] { order: 99; }

/* floating sidebar */
@media -moz-pref("sidebar.verticalTabs") and -moz-pref("sidebar.visibility", "hide-sidebar") {
  :root:not([chromehidden~="toolbar"], [taskbartab]):has(#tabbrowser-tabs:not([expanded])) {
    --pf-bookmarks-margin: calc(var(--pf-separation) * 2);
    --pf-fl-sidebar-width: calc(var(--pf-sidebar-width));
    --pf-fl-separation: 0px;

    /* sidebar */
    #sidebar-main {
      display: flex !important;
      overflow: unset !important;
      position: fixed;
      top: calc(var(--pf-navbar-height) - var(--pf-separation));
      left: calc(var(--pf-fl-separation) - var(--pf-fl-sidebar-width));
      z-index: 3;
      width: var(--pf-sidebar-width);
      height: calc(100% - var(--pf-navbar-height));
      padding-top: var(--pf-separation);
      background: var(--pf-sidebar-bgcolor-1);
      border-radius: var(--pf-browser-radius);
      box-shadow: 0 0 0 1px light-dark(rgba(0, 0, 0, 0.075), rgba(255, 255, 255, 0.125)), var(--pf-shadow-md);
      transition: left var(--pf-ts-25);
      transition-timing-function: var(--pf-fx-sidebar);

      /* fs: options */
      @media -moz-pref("parfait.bg.accent-color") {
        --pf-sidebar-bgcolor-1: var(--pf-browser-bgcolor);

        @media -moz-pref("parfait.bg.gradient") {
          --pf-sidebar-bgcolor-1: linear-gradient(var(--pf-bg-gradient-fade), var(--pf-browser-bgcolor));
        }
      }
      @media -moz-pref("parfait.blur.enabled") {
        backdrop-filter: var(--pf-acrylic-filter);
        --pf-sidebar-bgcolor-1: color-mix(in srgb, var(--pf-sidebar-bgcolor-2), transparent 12%);

        @media -moz-pref("parfait.bg.accent-color") and -moz-pref("parfait.bg.gradient") {
          --pf-sidebar-bgcolor-1: linear-gradient(color-mix(in srgb, var(--pf-bg-gradient-fade), transparent 20%), color-mix(in srgb, var(--pf-browser-bgcolor), transparent 20%));
        }
      }
      /* fs: sidebar trigger point */
      &::before,
      &::after {
        content: "";
        width: var(--pf-fl-trigger-width);
        height: 100%;
        position: absolute;
        top: 0;
      }
      &::before { left: calc(0px - var(--pf-fl-trigger-width)); }
      &::after { right: calc(0px - var(--pf-fl-trigger-width)); }
    }
    &:has(#sidebar-main:hover, .tabbrowser-tab[multiselected]:not([selected]), #tabContextMenu:hover, :is(.tab-group-editor-panel, #tabgroup-preview-panel)[panelopen="true"]) {
      --pf-fl-sidebar-width: 0px;
      --pf-fl-separation: var(--pf-separation);
    }
    /* fs: separation */
    &:not([inDOMFullscreen]) #tabbrowser-tabbox {
      margin-inline: var(--pf-browser-separation) !important;
      position: relative;
    }
    /* sidebar 2 */
    #sidebar-box {
      margin-inline: var(--pf-browser-separation) 0 !important;
      --space-small: 0;
    }
    #sidebar-splitter:not([hidden]) + #tabbrowser-tabbox {
      margin-inline: 0 var(--pf-browser-separation) !important;
    }
    /* display tab contents */
    .tab-background {
      width: unset !important;
    }
    .tabbrowser-tab {
      max-width: unset !important;

      &[pinned] {
        width: unset !important;
      }
      &:not([pinned]) {
        .tab-label-container {
          display: flex !important;
        }
        .tab-throbber,
        &:not([soundplaying]) .tab-icon-image {
          margin-inline-end: 10px;
        }
        .tab-close-button {
          width: 24px !important;
          height: 24px !important;
          margin-inline-end: calc(var(--tab-close-button-padding) / -2) !important;
          padding: var(--tab-close-button-padding) !important;
          background: transparent !important;
          position: unset !important;
          --tab-selected-shadow: none;
          --border-radius-circle: var(--pf-border-radius-sm);

          &:hover {
            background-color: var(--pf-toolbar-bgcolor-hover) !important;
          }
        }
        .tab-icon-overlay[soundplaying] {
          display: none;
        }
        .tab-audio-button[soundplaying] {
          display: flex !important;
          margin-left: 2px;
        }
      }
    }
    .tab-group-label {
      width: unset !important;
      max-width: unset !important;
      font-size-adjust: unset !important;
    }
    .tab-group-label-container,
    .tab-group-line {
      --dragover-tab-group-color: transparent;
      --tab-group-line-color: transparent;
    }
    tab-group > .tabbrowser-tab {
      margin-inline-start: 14px !important;
    }
    #tabs-newtab-button,
    #vertical-tabs-newtab-button {
      width: 100% !important;

      .toolbarbutton-text {
        display: flex !important;
      }
    }
    #vertical-tabs-newtab-button {
      width: auto !important;
    }
  }
  .actions-list[orientation="vertical"] {
    flex-direction: row !important;
    align-items: center !important;
  }
}
/* floating unified sidebar */
@media -moz-pref("parfait.toolbar.unified-sidebar") and -moz-pref("sidebar.verticalTabs") and -moz-pref("sidebar.visibility", "hide-sidebar") {
  :root:not([customizing], [chromehidden~="toolbar"], [taskbartab]):has(#tabbrowser-tabs:not([expanded])) {
    /* fus: toolbar item coordinates */
    --pf-fl-btn-sidebar-x: calc(var(--pf-tl-width) + var(--pf-separation));
    --pf-fl-btn-back-x: calc(var(--pf-sidebar-width) - (var(--pf-toolbaritem-size) * 3) - (var(--pf-toolbaritem-gap) * 2));
    --pf-fl-btn-forward-x: calc(var(--pf-sidebar-width) - (var(--pf-toolbaritem-size) * 2) - var(--pf-toolbaritem-gap));
    --pf-fl-btn-reload-x: calc(var(--pf-sidebar-width) - var(--pf-toolbaritem-size));
    --pf-fl-navbar-y: calc(var(--pf-browser-separation) - var(--pf-navbar-height));

    @media (not (-moz-platform: macos)) and (not -moz-pref("parfait.traffic-lights.enabled")) {
      --pf-tl-width: var(--pf-separation);
    }
    &[macOSNativeFullscreen] {
      --pf-tl-width: var(--pf-separation);
    }
    /* fus: sidebar */
    #sidebar-main {
      height: calc(100% - (var(--pf-separation) * 2));
      padding-top: calc(var(--pf-navbar-height) + var(--pf-sidebar-margin));
      top: var(--pf-separation);
    }
    /* fus: keep navbar out of the way :) */
    #nav-bar {
      top: var(--pf-fl-navbar-y);
      margin-left: var(--pf-browser-separation);
      transition: top var(--pf-ts-25) var(--pf-navbar-delay) !important;
      z-index: 4;
    }
    /* fus: floating navbar hover */
    &:not(:has(:is(#sidebar-button, #back-button, #forward-button, #stop-reload-button, #vertical-spacer, #urlbar):hover
    )):has(#nav-bar:hover, #nav-bar toolbarbutton[open], #downloads-button[notification]:not([hidden])) {
      --pf-fl-navbar-y: 0;
      --pf-navbar-delay: 0s;
    }
    @media -moz-pref("parfait.traffic-lights.enabled") or (-moz-platform: macos) {
      /* fus: traffic lights */
      .titlebar-buttonbox-container {
        position: fixed;
        top: var(--pf-separation);
        left: calc(var(--pf-fl-separation) - var(--pf-fl-sidebar-width));
      }
      &:has(.titlebar-buttonbox-container:hover) {
        --pf-fl-navbar-y: calc(var(--pf-browser-separation) - var(--pf-navbar-height)) !important;
        --pf-fl-sidebar-width: 0px;
        --pf-fl-separation: var(--pf-separation);
      }
    }
    /* fus: move toolbar items */
    .titlebar-buttonbox-container,
    #sidebar-button,
    #back-button,
    #forward-button,
    #stop-reload-button,
    #vertical-spacer::before,
    #urlbar-container::before,
    #urlbar:not([open], [focused]) {
      transition: all var(--pf-ts-25) var(--pf-fx-sidebar) !important;
    }
    #sidebar-button,
    #back-button,
    #forward-button,
    #stop-reload-button {
      position: fixed;
      top: calc(var(--pf-separation) + var(--pf-navbar-padding-block));
    }
    #vertical-spacer::before {
      position: fixed;
      top: var(--pf-separation);
      left: calc(var(--pf-fl-separation) - var(--pf-fl-sidebar-width));
    }
    #sidebar-button {
      left: calc(var(--pf-fl-btn-sidebar-x) - var(--pf-fl-sidebar-width));
    }
    #back-button {
      left: calc(var(--pf-fl-btn-back-x) - var(--pf-fl-sidebar-width));
    }
    #forward-button {
      left: calc(var(--pf-fl-btn-forward-x) - var(--pf-fl-sidebar-width));
    }
    #stop-reload-button {
      left: calc(var(--pf-fl-btn-reload-x) - var(--pf-fl-sidebar-width));
    }
    #urlbar:not([open]),
    #urlbar-container::before {
      --pf-urlbar-x: calc((var(--pf-separation) * 2) - var(--pf-fl-sidebar-width));
      --pf-urlbar-y: calc(var(--pf-navbar-height) + var(--pf-separation));
    }
    /* fus: hover state */
    &:has(:is(#vertical-spacer, #sidebar-button, #back-button, #forward-button, #stop-reload-button, #backForwardMenu):hover,
    #urlbar:not([open]) :is(:hover, :is(#tracking-protection-icon-container, .identity-box-button, .urlbar-page-action, #notification-popup-box)[open])) {
      --pf-fl-sidebar-width: 0px;
      --pf-fl-separation: var(--pf-separation);
    }
  }
}
