/*
  Parfait - tabbar.css
  https://github.com/reizumii/parfait
*/

/* tabs: layout */
#tabbrowser-tabs[orient="vertical"] {
  --tab-min-height: var(--pf-tab-height) !important;
  --tab-collapsed-background-width: var(--pf-tab-height);
  --tab-inner-inline-margin: var(--pf-separation) !important;
  --tab-collapsed-width: calc(var(--tab-collapsed-background-width) + 2 * var(--tab-inner-inline-margin));
  --tab-inline-padding: calc(var(--pf-separation) + (var(--tab-min-height) - var(--icon-size)) / 2) !important;
  --tab-icon-end-margin: calc((var(--tab-min-height) - var(--icon-size)) / 2) !important;
  --tab-new-tab-border-width: calc(100% - (var(--tab-inner-inline-margin) * 2));

  &:not([expanded]) {
    width: 100% !important;
  }
  .tabbrowser-tab {
    padding-block: 0 !important;
  }
  /* tabs: new tab button */
  #tabs-newtab-button,
  #vertical-tabs-newtab-button {
    position: relative;
    color: var(--toolbarbutton-icon-fill) !important;
    --toolbarbutton-icon-fill: color-mix(in srgb, var(--pf-text-color), transparent 50%);
  }
  #tabbrowser-arrowscrollbox-periphery {
    margin-top: var(--tab-block-margin);
    padding-top: calc(var(--tab-block-margin) + 1px);
  }
  &:not([overflow]) #tabs-newtab-button::before {
    content: "";
    width: var(--tab-new-tab-border-width);
    border-top: 1px solid var(--pf-border-color-light);
    position: absolute;
    top: calc(-1px - (var(--tab-block-margin) * 2));
  }
  #vertical-tabs-newtab-button {
    margin-top: calc(var(--tab-block-margin) * 2) !important;

    &::before {
      content: "";
      width: calc(100% + (var(--tab-inner-inline-margin) * 2));
      position: absolute;
      top: calc(0px - (var(--tab-block-margin) * 3));
      border-top: 1px solid var(--pf-border-color-light);
      transition: width var(--pf-ts-15);
    }
    #tabbrowser-arrowscrollbox[overflowing][scrolledtoend] + &::before {
      width: var(--tab-new-tab-border-width);
    }
  }
}

/* tabs: overflow */
spacer[part="overflow-start-indicator"] {
  background-image: none !important;
  border-top: 1px solid var(--pf-border-color-light);
}
spacer[part="overflow-end-indicator"],
#tabbrowser-tabs[orient="vertical"]::after {
  visibility: collapse;
}

/* tabs: general */
.tab-background {
  outline: none !important;
  --tab-selected-bgcolor: light-dark(rgba(255, 255, 255, 0.8), rgba(238, 239, 243, 0.2));
  --tab-selected-shadow: 0 0 1px rgba(0, 0, 0, 0.075), 0 1px 1px 1px rgba(0, 0, 0, 0.09);
  --focus-outline-color: transparent;
  --dragover-tab-group-color: transparent;

  &[multiselected]:not([selected]) {
    --tab-selected-bgcolor: var(--pf-toolbar-bgcolor-hover);
    --tab-selected-shadow: none;
  }
  &:not([selected], [multiselected]) {
    transition: var(--pf-ts-15);
  }
  @media not -moz-pref("parfait.tabs.groups.color") {
    --dragover-tab-group-color-pale: var(--pf-toolbar-bgcolor-hover);
    --dragover-tab-group-color: var(--pf-toolbar-bgcolor-hover);
  }
}
.tab-content {
  --tab-selected-textcolor: var(--pf-text-color);
}
.tab-icon-image {
  border-radius: var(--pf-favicon-radius);
  overflow: clip;

  &:not([src]),
  &:-moz-broken {
    fill: var(--pf-favicon-bgcolor) !important;
    content: var(--pf-icon-square) !important;
  }
}
.tab-close-button,
.tab-audio-button {
  transition: scale var(--pf-ts-15);

  &:hover:active {
    scale: 0.9175;
  }
}
#tabbrowser-tabs[expanded] .tab-close-button {
  border-radius: var(--pf-border-radius-sm) !important;
}
.tab-audio-button {
  background: no-repeat center var(--pf-icon-audio-12);
  fill: currentColor;
  -moz-context-properties: fill;
  --button-icon-fill: transparent;

  &[muted] {
    background-image: var(--pf-icon-audio-mute-12);
  }
}
.tab-icon-overlay[soundplaying] {
  list-style-image: var(--pf-icon-audio-12) !important;
}
.tab-icon-overlay[muted] {
  list-style-image: var(--pf-icon-audio-mute-12) !important;
}
.tabbrowser-tab:not([pinned]) {
  .tab-label-container {
    transition: padding-left var(--pf-ts-15);
  }
  &[pending] .tab-content {
    opacity: 0.5;
  }
  &[titlechanged] {
    .tab-content {
      background-image: none !important;
    }
    .tab-label-container {
      position: relative;
      padding-left: calc((var(--tab-min-height) - var(--icon-size)) / 2);

      .tab-label::before {
        content: "";
        height: var(--icon-size);
        border-right: 2px solid color-mix(in srgb, currentColor, transparent 60%);
        position: absolute;
        left: 0;
        top: 50%;
        transform: skewX(-17deg) translateY(-50%);
      }
    }
  }
  .tab-background[selected] {
    animation: tab-select var(--pf-ts-25) var(--pf-fx-bounce);
  }
  .tab-stack {
    transition: scale var(--pf-ts-15);

    &:hover:active:not(:has(.tab-audio-button:active, .tab-close-button:active)) {
      scale: 0.985;
    }
  }
  &:not(:hover) .tab-close-button {
    display: none !important;
  }
}
@keyframes tab-select {
  0%   { scale: 1.025 1.125; }
  100% { scale: 1; }
}

/* tabs: pins */
#pinned-tabs-container[orient="vertical"] {
  --tab-pinned-margin-inline-expanded: calc(var(--tab-block-margin) * 2);
  --tab-pinned-min-width-expanded: 56px;

  @media not -moz-pref("sidebar.visibility", "expand-on-hover") {
    #tabbrowser-tabs[expanded] & {
      margin: calc(0px - var(--tab-block-margin));
      --tab-min-height: var(--pf-pinned-height);
      --tab-height-with-margin-padding: calc(var(--pf-pinned-height) + (var(--tab-block-margin) * 4));

      .tab-background {
        --tab-block-margin: var(--tab-pinned-margin-inline-expanded);
        --tab-inner-inline-margin: var(--tab-pinned-margin-inline-expanded);
      }
    }
  }
  .tabbrowser-tab:not(:hover) > .tab-stack > .tab-background:not([selected], [multiselected]) {
    background-color: var(--pf-toolbar-bgcolor) !important;
  }
}

/* tabs: containers */
.tab-context-line {
  opacity: 0.75;
  transition: var(--pf-ts-25) var(--pf-fx-bounce);
}
#tabbrowser-tabs[orient="vertical"] {
  .tabbrowser-tab:not([pinned]) {
    .tab-context-line {
      order: 1;
      min-height: calc(var(--tab-min-height) / 3);
      margin-block: auto !important;
    }
    &[selected] .tab-context-line {
      min-height: var(--icon-size);
    }
  }
  .tabbrowser-tab[pinned] {
    .tab-background {
      flex-direction: column-reverse !important;
    }
    .tab-context-line {
      min-width: calc(var(--pf-tab-height) / 3);;
      height: 2px !important;
      margin: 0 auto !important;
    }
    &[selected] .tab-context-line {
      min-width: var(--icon-size);
    }
  }
}

/* tabs: groups */
#tabbrowser-tabs[orient="vertical"] {
  tab-group {
    /* tg: colors */
    --pf-folder-color-1: var(--toolbar-bgcolor);
    --pf-folder-color-2: color-mix(in srgb, var(--toolbar-color), var(--toolbar-bgcolor) 50%);
    --pf-folder-color-bg: color-mix(in srgb, var(--pf-folder-color-1), light-dark(white, black) 95%);
    --pf-folder-color-fg: color-mix(in srgb, var(--pf-folder-color-2), light-dark(black, white) 40%);
    --tab-group-line-color: color-mix(in srgb, var(--toolbar-color), var(--toolbar-bgcolor) 50%) !important;

    @media -moz-pref("parfait.bg.accent-color") {
      --tab-group-line-color: color-mix(in srgb, var(--pf-accent-color), var(--toolbar-color) 30%) !important;
      --pf-folder-color-1: var(--pf-accent-color);
      --pf-folder-color-2: light-dark(var(--pf-accent-color), color-mix(in srgb, var(--pf-accent-color), white 60%));
    }
    @media -moz-pref("parfait.tabs.groups.color") {
      --tab-group-line-color:  var(--tab-group-color) !important;
      --pf-folder-color-1: var(--tab-group-color);
      --pf-folder-color-2: var(--tab-group-color);
    }
    /* tg: tabs */
    & > .tabbrowser-tab {
      max-height: calc(var(--tab-min-height) + (var(--tab-block-margin) * 2));
      transition-property: min-height, max-height, opacity, transform !important;
      transition-duration: var(--pf-ts-15) !important;
    }
    &[collapsed] > .tabbrowser-tab:not([selected]) {
      display: unset !important;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }
  }
  #sidebar-main[hidden] &,
  &[expanded] {
    --tab-group-line-thickness: 0;

    tab-group > .tabbrowser-tab {
      margin-inline-start: var(--pf-tab-group-indent) !important;
    }
    &[movingtab-addToGroup]:not([movingtab-group], [movingtab-ungroup]) .tabbrowser-tab:is([multiselected], [selected]) {
      width: calc(100% - var(--pf-tab-group-indent)) !important;
      margin-inline-start: var(--pf-tab-group-indent) !important;
    }
    &[movingtab]:is([movingtab-addToGroup], [movingtab-ungroup]) .tabbrowser-tab:is([multiselected], [selected]) {
      transition: margin var(--pf-ts-15), width var(--pf-ts-15) !important;
    }
  }
  .tab-group-label-container {
    margin: var(--tab-block-margin) var(--tab-inner-inline-margin) !important;
    padding-block-end: 0 !important;

    #tabbrowser-tabs[orient="vertical"] tab-group:not([collapsed]) > &::after {
      inset-inline-start: calc(var(--tab-group-line-thickness) - var(--tab-inner-inline-margin)) !important;
    }
  }
  .tab-group-label-hover-highlight {
    margin: 0 !important;
    border-radius: var(--tab-border-radius) !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .tab-group-label {
    display: flex;
    align-items: center !important;
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    height: var(--tab-min-height) !important;
    margin: 0 !important;
    padding-inline: 0 !important;
    line-height: unset !important;
    background-color: transparent !important;
    color: var(--pf-text-color) !important;
    outline: none !important;
    box-shadow: none !important;
    transition: scale var(--pf-ts-15) !important;

    /* tg: folder icon */
    &::before {
      content: "";
      width: 22px;
      height: 22px;
      margin-inline: calc((var(--tab-min-height) - 22px) / 2);
      background: no-repeat 0 0 / 22px var(--pf-icon-folder-out);
      fill: var(--pf-folder-color-fg);
      transition: transform var(--pf-ts-25) var(--pf-fx-folder);
      -moz-context-properties: fill;
    }
    &::after {
      content: "";
      width: 18px;
      height: 14px;
      position: absolute;
      left: calc((var(--tab-min-height) - 18px) / 2);
      margin-block-start: 4px;
      border-radius: 3px;
      background: center no-repeat var(--pf-folder-color-bg);
      box-shadow: inset 0 0 0 1.5px var(--pf-folder-color-fg);
      fill: var(--pf-folder-color-fg);
      fill-opacity: 0;
      transition: transform var(--pf-ts-25) var(--pf-fx-folder), fill-opacity var(--pf-ts-25);
      -moz-context-properties: fill, fill-opacity;
    }
    &:is(:hover, [dragover-groupTarget]) {
      background-color: var(--tab-hover-background-color) !important;
    }
    &:is([aria-expanded="true"], [dragover-groupTarget]) {
      &::before { transform: skewX(16deg) scale(.85); }
      &::after  { transform: skewX(-16deg) scale(.85) translate(4.5px, 0px); }
    }
    /* tg: mini icons */
    tab-group[collapsed][hasactivetab] &::after {
      background-image: var(--pf-icon-folder-dots);
      fill-opacity: 1;
    }
    tab-group[collapsed]:not([hasactivetab]):has(> .tabbrowser-tab[soundplaying]) &::after {
      background-image: var(--pf-icon-audio-12);
      background-size: 8px;
      fill-opacity: 1;
    }
  }
  .tab-group-overflow-count-container {
    display: none !important;
  }
}
